{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        <span style="font-weight: bold;">Error! </span>
        {{ flashMessage }}
    </div>
{% endfor %}