<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

	<!-- http://www.kylejlarson.com/blog/2012/iphone-5-web-design/ and http://darkforge.blogspot.fr/2010/05/customize-android-browser-scaling-with.html -->
	<meta name="viewport" content="user-scalable=0, initial-scale=1.0, target-densitydpi=115">

        <title>
            {% block Title %}{{app_name}}{% endblock %}
        </title>

        {% block stylesheets %}
         {% include 'BubbllzKernelBundle:Shared:Styles.html.twig' %}
        {% endblock %}
    </head>
    <body class="clearfix with-menu with-shortcuts">
      <!-- Title bar -->
	<header role="banner" id="title-bar">
		<h2>Developr</h2>
	</header>
      <!-- Button to open/hide menu -->
	<a href="#" id="open-menu"><span>Menu</span></a>

	<!-- Button to open/hide shortcuts -->
	<a href="#" id="open-shortcuts"><span class="icon-thumbs"></span></a>

       
                {{ render(controller("BubbllzUserBundle:Layout:Aside")) }}
                <section role="main" id="main">
                    {% block content %}

                    {% endblock content %}
                </section>
    
        {% block javascripts %}
      {% include 'BubbllzUserBundle:Shared:Scripts.html.twig' %}
       {% include 'BubbllzUserBundle:Shared:TemplateScript.html.twig' %}
        {% endblock %}
    </body>
</html>