<!DOCTYPE html>
<html>
    <head>
        <title>Bubbllz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/public/style.css">
        <link rel="stylesheet" type="text/css" href="/public/responsive.css">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <link rel="shortcut icon" type="image/png" href="http://adv.bubbllz.com/public/favicon.ico"/>
        
        <style>
            .rightContent {
                background: transparent;
            }
            
            body {
                background: rgba(247,247,247,1);
            }
        </style>
    </head>
    <body>
        <div id="spinner"><img src="/public/loading.gif"/></div>
        <div class="container-full desktop-mode">
            <div>
                <div id="header">
                    <a id="logo" href="http://www.bubbllz.com"><img id="logoMono" src="/public/logoOlo.png"/></a>
                    <div class="clearfix"></div>
                </div>
                <div class="mainContainer">
                    <div class="" style="height: 100%;">
                        <div class="leftContent">
                            <div class="radios radio-showing">
                                <ul>
                                    <li>
                                        <div class="check check1" id="slide1" data-slide-num="1"></div>
                                    </li>

                                    <li>
                                        <div class="check check2" id="slide2" data-slide-num="2"><div class="inside"></div></div>
                                    </li>

                                    <li>
                                        <div class="check check3" id="slide3" data-slide-num="3"><div class="inside"></div></div>
                                    </li>

                                    <li>
                                        <div class="check check4" id="slide4" data-slide-num="4"><div class="inside"></div></div>
                                    </li>
                                    <li>
                                        <div class="check checked check5" id="slide5" data-slide-num="5"><div class="inside"></div></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="sliderTexts">
                            </div>
                        </div>
                        <div class="rightContent" style="height: 100%">
                            <div class="sliderImages" style="height: 100%">
                                <div class="slideImage image6 active-image"  style="background: #f56f53">
                                    <div class="form-success">
                                        <img src="/public/tick.png"/>
                                        <h1>Ευχαριστούμε!</h1>
                                        <p>
                                            Λάβαμε τα στοιχεία σας και θα επικοινωνήσουμε άμεσα μαζί σας!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="mobile-mode mobile-mode-container" style="margin-top: 50px;">
            <div>
                <div id="header">
                    <a id="logo" href="http://www.bubbllz.com"><img id="logoMono" src="/public/logoOlo.png"/></a>
                    <a id="letsTalk" class="radius15 letsTalk1" href="#contactPage" style="margin-bottom: 10px;">Ας μιλήσουμε!</a>
                    <div class="clearfix"></div>
                </div>
                <div class="" style="background: rgba(247,247,247,1);">
                    <div class="mobile-mode">
                        <div class="col-lg-12">
                            <div class="" style="margin-top: 50px;">
                                <div class="mobile-image mobile-image-mobile-container col-lg-12" style="visibility: visible; background: #f56f53; padding: 50px 0;">
                                    <div class="form-success" style="padding-top: 0">
                                        <img src="/public/tick.png" style="width: 100px;"/>
                                        <h1>Ευχαριστούμε!</h1>
                                        <p style="font-size: 16px; margin-top: 15px;">
                                            Λάβαμε τα στοιχεία σας και θα επικοινωνήσουμε άμεσα μαζί σας!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/public/script.js"></script>
    <script>
        $(window).on('load', function(){
            $('.sliderTexts').hide();
            
            $('.radios').css('top', $('.container-full').height() + 120 + (($('.image6').height() - 230)/2));
            var marginLeft = (($(window).width() - $('.image6').width())/2);
            if(marginLeft>0){
                $('.image6').css('left', marginLeft);
            }
            if($(window).width() > 1440){
                $('.image6').css('left', marginLeft - parseInt($('.mainContainer').css('left')));
            }
            
            $('.check').click(function(){
                window.location.href = '/?index=' + $(this).attr('data-slide-num');
            });
        });
    </script>
</html>