{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<div class="form-group">
    <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-user"></i></div>
        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" />
    </div>
    
</div>
<div class="form-group">
    <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required" />
    </div>
</div>
    
<input type="submit" id="_submit" name="_submit" class="btn btn-default" value="{{ 'security.login.submit'|trans }}" />
</form>
   
<input type="button" id="_register" name="_register" onclick="window.location.href = '{{path('home_business')}}';" class="btn btn-submit" value="{{ 'registration.submit'|trans }}" />
