@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media (max-width:980px) and (max-height: 1280px) {
    /* hi-res laptops and desktops */ 
    .mainContainer {
        top: 100px;
    }
    .radios {
        display: none;
    }
    .leftContent {
        display: block!important;
        position: relative!important;
        width: 100%!important;
        margin-top: 0!important;
        max-width: 100%;
        padding: 0!important;
        float: none!important;
    }

    .sliderTexts {
        padding: 20px;
        width: 100%!important;
    }

    .rightContent {
        position: relative!important;
        float: none!important;
        display: block!important;
        left: 0!important;
        width: 100%!important;
    }

    .desktop-mode {
        display: none;
    }

    .mobile-mode {
        display: block;
    }

    .container-full {
        margin: 0 auto;
    }
}

@media (max-width:413px) and (max-height: 733px) {
    .mobile-image form{
        z-index: 8000;
        height: 270px;
    }

    .mobile-image-form {
        margin-bottom: 40px!important;
    }

    .mobile-image-form {
        overflow: hidden;
    }

    .mobile-image form label {
        display: block;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1.5px;
        color: #f7f7f7;
        font-size: 14px;
        font-weight: 300;
        cursor: text;
    }

    h1 {font-size: 40px!important;}

    .mobile-image-form form input[type=submit]{
/*        position: absolute;*/

    }

     p {
        font-size: 15px;
        line-height: 25px!important;
    }
}