<script src="/assets/gglib.input_calendar.js" type="text/javascript"></script> 
<script>

    $(document).ready(function () {
        $('.summernote').summernote({
            height: 200,
        });

        $('#jqxTabs').jqxTabs({theme: '{{jqxTheme}}'});
        $('#product_cateogory').jqxDropDownList({theme: '{{jqxTheme}}', width: '100%', height: '35px'});
        $('#product_paymentMethods').jqxDropDownList({theme: '{{jqxTheme}}', checkboxes:true, width: '100%', height: '35px'});
        {#$('#product_measurementUnit').jqxDropDownList({theme: '{{jqxTheme}}', width: '100%', height: '35px'});#}
        $('#product_taxGroup').jqxDropDownList({theme: '{{jqxTheme}}', width: '100%', height: '35px'});
{#        $('#product_manufacturer').jqxDropDownList({theme: '{{jqxTheme}}', width: '100%', height: '35px'});#}
        $('#product_published').jqxCheckBox({theme: '{{jqxTheme}}', boxSize: "15px"});
        
        
        CreateInitialProtos();
    });

    function CreateInitialProtos(){
        {% for photo in form.vars.value.morePhotos %}
            var $html = $('<div class="gglib-file-wrapper"></div>');
            var $imageHtml = $('<div class="col-xs-12"><img src="{{photo.path}}" style="max-width: 150px; max-height: 150px;"/></div>');
            $html.append($imageHtml);
    
            
            var $deleteImageHtml = $('<div class="col-xs-12"><a href="{{path("admin_products_remove_existing_photo", {'id': photo.id, 'productId': id} )}}" class="inform-deletion-yes-no" data-success-callback="photoDeletedSuccessfully" data-success-callback-param="{{photo.id}}" style="color: red;">Διαγραφή</a></div><div class="clearfix"></div><br/>');
            $html.append($deleteImageHtml);
            
            var $photoHtml = $('<input class="ProductImages" type="file" name="ProductImages[][file]"/>');
            var $hiddenHtml = $('<input type="hidden" value="{{photo.id}}" name="ProductImages[][id]"/>');
            $html.append($photoHtml);
            $html.append($hiddenHtml);
            var file = new $.gglib.File({element: $photoHtml});
            $('#product_images').append($html);
        {% endfor %}
    }
    
    function photoDeletedSuccessfully($el){
        $el.closest(".gglib-file-wrapper").remove();
    }
    
    function CreateNewPhoto() {
        var $photoHtml = $('<input class="ProductImages" type="file" name="ProductImages[][file]"/>');
        $('#product_images').append($photoHtml);
        var file = new $.gglib.File({element: $photoHtml});

        $photoHtml.closest('.gglib-file-wrapper').append($('<input type="hidden" value="" name="ProductImages[][id]"/>'));

        $photoHtml.closest('.gglib-file-wrapper').append($("<a href='javascript:void(0);' onclick='$(this).closest(\".gglib-file-wrapper\").remove();'><i class='fa fa-times'></i> Διαγραφή</a>"));

        return false;
    }
    
    function RemoveProto() {
        
    }

</script>