

<script>

    $(document).ready(function () {

        var url = "{{path('backend_users_json')}}";

        var fields = [
            {name: 'username', type: 'string'},
            {name: 'firstName', type: 'string'},
            {name: 'lastName', type: 'string'}
        ];

        // prepare the data
        var source = {
            dataType: "json",
            dataFields: fields,
            id: 'id',
            url: url,
            root: 'Rows',
            filter: function ()
            {
                // update the grid and send a request to the server.
                $("#dataTable").jqxGrid('updatebounddata', 'filter');
            },
            sort: function ()
            {
                // update the grid and send a request to the server.
                $("#dataTable").jqxGrid('updatebounddata', 'sort');
            },
            group: function ()
            {
                // update the grid and send a request to the server.
                $("#dataTable").jqxGrid('updatebounddata', 'group');
            },
            beforeprocessing: function (data) {
                source.totalrecords = data.TotalRows;
            }
        };

        var dataAdapter = new $.jqx.dataAdapter(source);
        
        var imageRenderer = function (row, column, value) {
            var image = "<div style='margin: 5px; margin-bottom: 3px;'>";
            var img = '<img style="display: block; margin: auto; max-width: 150px; max-height: 150px;" src="' + value + '"/>';
            image += img;
            image += "</div>";
            return image;
        };
        
        var cellsRenderer = function(row, column, value){
            if(value){
                return '<i class="fa fa-check fa-fw fa-2x" style="color: green; vertical-aling: bottom;"></i>';
            }else{
                return '<i class="fa fa-times fa-fw fa-2x" style="color: red;"></i>';
            }
        }
        
        var columns =
                [
            {text: '{{'table.head.profile.username' | trans}}', dataField: 'userName'},
            {text: '{{'table.head.profile.firstname' | trans}}', dataField: 'firstName'},
            {text: '{{'table.head.profile.lastname' | trans}}', dataField: 'lastName'}
           
     
                ];

        var t = $('#dataTable').gglibJqxGrid({
            source: dataAdapter,
            columns: columns,
            autorowheight: true,
            autoheight: true
        });
        
        t.canDelete = false;
       {# t.deleteUrl = "{{path('backend_users_remove')}}/__" + source.id + "__";
        t.deleteRowMessage = "Θέλετε να διαγράψετε την εγγραφή?";
        t.deleteRowTitle = "Διαγραφή!";#}
        
        t.canEdit = true;
        t.redirectEdit = true;
        t.editUrl = "{{path('backend_users_edit')}}/__" + source.id + "__";
        
        t.build();
    });

</script>