#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 50px;
    right: 30px;
    margin-left: -170px;
    width: 400px;
    z-index: -1;
    display: none;
}
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -10px;
    margin-left: 188px;
}
#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    width: 384px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody {
    
    padding: 0 !important;
    min-height:300px;
}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

.app-notification {
    background: #e3edd8;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}
.app-notification h3{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px solid #ccc;
}

.app-notification p{
    padding: 5px 0 5px 10px;
    margin: 0;
    font-size: 12px;
}

.app-notification span{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}