
        

   
                  
       
        {% block javascripts %}
           

	<!-- JavaScript plugins comes here -->	
    <script src="/bundles/home/js/jquery-2.1.3.min.js"></script>    
 <!-- Modernizer and IE specyfic files -->  
	<script src="/bundles/home/js/modernizr.custom.js"></script>    <!-- jQuery -->
    <script src="/bundles/home/js/jquery.easing.min.js"></script>       <!-- jQuery easing -->    
    <script src="/bundles/home/js/jquery.scrollTo.js"></script>         <!-- Scroll to -->
    <script src="/bundles/home/js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="/bundles/home/js/jquery.form.js"></script>    	  <!-- jQuery form -->
    <script src="/bundles/home/js/jquery.maximage.min.js"></script>     <!-- MaxImage background image slideshow -->
    <script src="/bundles/home/js/materialize.js"></script>     	  <!-- Materialize -->
    <script src="/bundles/home/js/classie.js"></script>                 <!-- Class helper function -->
    <script src="/bundles/home/js/pathLoader.js"></script>              <!-- Preloader Loading Animation -->
    <script src="/bundles/home/js/preloader.js"></script>               <!-- Preloader -->
    <script src="/bundles/home/js/count_down.js"></script>              <!-- Count Down Timer -->
    <script src="/bundles/home/js/happy.js"></script>                   <!-- Newsletter form validation -->
    <script src="/bundles/home/js/happy.methods.js"></script>           <!-- Newsletter form validation -->
    <script src="/bundles/home/js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="/bundles/home/js/waypoints.min.js"></script>           <!-- Waypoints -->
    <script src="/bundles/home/js/nivo-lightbox.min.js"></script>       <!-- Lightbox/Modalbox -->
    <script src="/bundles/home/js/jquery.fitvids.js"></script>      	  <!-- Responsive Video -->
    <script src="/bundles/home/js/jquery.stellar.js"></script>      	  <!-- Parallax backgrounds -->
    <script src="/bundles/home/js/owl.carousel.js"></script>      	  <!-- Owl Carousel --> 
    <script src="/bundles/home/js/main.js"></script>                    <!-- Main Js file -->
   
    
            <!--<script src="lp/owl/owl-carousel/owl.carousel.js"></script>-->

   
           
        {% endblock %}

	
	
	
    
		
	   
 